body {
    font-family: "Sono", sans-serif;
  }

  .pricing-container {
    background-image: linear-gradient(#d2e0fb, #fef9d9, #dee5d4, #8eaccd);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
  }

  .pricing-plan {
    background-color: rgba(230, 89, 89, 0.63);
    text-align: center;
    padding: 60px 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 4px #9da0a1;
    max-width: 300px;
    flex: 1;
    min-width: 300px;
  }
  .pricing-plan:hover {
    background-color: rgb(128, 125, 121);
    box-shadow: 2px 2px 10px 4px #757579;
    color: #50bbd6;
    transition-duration: 1s;
  }

  .plan-title {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .plan-price {
    font-weight: bold;
    font-size: 2.1rem;
  }
  .plan-features {
    list-style: none;
    padding: 5px;
  }

  .plan-features li {
    margin-bottom: 10px;
  }

  .plan-button {
    background-color: rgb(136, 24, 9);
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 15px;
    color: white;
  }

  .plan-button:hover {
    background-color: rgb(150, 218, 176);
    color: rgb(0, 0, 0);
    transition-duration: 1s;
    box-shadow: 2px 2px 10px 4px #ccd0d1;
  }
  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
    }
  }